[submodule "proj_for_submodule"]
	path = proj_for_submodule
	url = https://github.com/khawaleshrikant/proj_for_submodule.git
[submodule "new_module"]
	path = new_module
	url = https://github.com/khawaleshrikant/proj_for_submodule.git
